Atom/
Code/
Foxit Software/
BraveSoftware/
GIMP/
Jitsi Meet/
QtProject.conf
VSCodium/
VirtualBox/
btop/
calibre/
chromium/
composer/
dconf/
discord/
fish/
flameshot/
freezer/
gtk-2.0/
gtk-3.0/
kdenlive-layoutsrc
kdenliverc
libreoffice/
locale.conf
menus/
mimeapps.list
nemo/
ngrok/
obs-studio/
omf/
pavucontrol.ini
pulse/
qBittorrent/
qalculate/
rustdesk/
spotify/
user-dirs.dirs
user-dirs.locale
vlc/
xarchiver/
xfce4/

